.main-div {
    background-color: #3b3a39;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.centerdiv {
    background-color: white;
    width: 27%;
    height: 80vh;
    border-radius: 15px;
    box-shadow: 5px 5px 25px -5px rgb(162, 18, 18);
}

h1 {
    color: white;
    background-color: rgb(24, 7, 153);
    padding: 6px 0px 2px 0px;
    margin: 10px;
}

input {
    text-align: center;
    height: 30px;
    top: 30px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    width: 60%;
    border-bottom: 2px solid rgb(24, 7, 153);
    outline: none;
    color: rgb(24, 7, 153);
}

button {
    min-width: 40px;
    width: 45px;
    border-radius: 46%;
    border-color: transparent;
    background-color: rgb(24, 7, 153);
    color: white;
    font-size: 40px;
    border: none;
    outline: none;
    margin-left: 10px;
    box-sizing: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #10c40a;
}

ol {
    margin-top: 30px;
}

ol li {
    list-style: none;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    min-height: 40px;
    display: flex;
    align-items: center;
    color: rgb(24, 7, 153);
    text-transform: capitalize;
}

.Todo-style {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.Todo-style .fa-times {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 55, 255);
    margin: 0 15px 0 35px;
    color: rgb(200, 10, 13);
    box-shadow: 5px 5px 15px -5px black;
}

.Todo-style .fa-times:hover {
    color: crimson;
}

.Todo-style .fa-times:hover .list-style {
    color: crimson;
}

@media(max-width: 786px) {
    .centerdiv {
        width: 55%;
    }
}

.Todo-style .fa-times {
    margin-left: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin-left: 5px;
    min-height: 40px;
    width: 40px;
    color: white;
    font-size: 30px;
}